<ul class="list-group">
  <li class="list-group-item d-flex align-items-center"
    *ngFor="let joke of jokes; let i = index">
    <span class="h5 mr-3 mb-0">{{i + 1}}</span>
    <span class="d-flex flex-column flex-grow-1 align-items-start">
      <span class="badge badge-pill badge-info">{{ joke.category.toLowerCase() }}</span>
      {{ joke.text }}
    </span>
    <button (click)="toggleFavorite(joke)" class="btn btn-sm text-danger">
      <i class="fa" [ngClass]="{'fa-heart-o': !joke.isFavorite, 'fa-heart': joke.isFavorite}"></i>
    </button>
  </li>
  <li class="list-group-item" *ngIf="!jokes.length">List is empty</li>
</ul>
